langchain-openai
pandas 
numpy
bs4
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_groq
faiss-cpu
ipykernel
pypdf
langchain-chroma
chromadb
langchain-huggingface
sentence_transformers
arxiv
wikipedia
hub
langchainhub
ddgs
mysql